---
interface Props{
    href:string,
}

const {href} = Astro.props
---

<div
    class="flex p-2 flex-col shadow-lg scale-95 hover:scale-100 transition-all
     transform ease-in-out duration-300 ring ring-4 ring-gray-800 hover:ring-orange-500  
     rounded-xl"
>
    <div class="w-full">
        <picture>
            <slot name="image" />
        </picture>
    </div>

    <div
        class="bg-gray-800 text-gray-200 flex flex-col justify-center align-center rounded-b-xl py-2 px-4"
    >
        <h1 class="py-2 font-bold text-xl"><slot name="title" /></h1>

        <div class="flex flex-row justify-between align-center py-2">
            <a
                class="bg-red-500 rounded-md text-center py-1 px-2 justify-center hover:bg-red-600 
                transition-all transform ease-in-out duration-200"
                href={href}>Deploy</a
            >
        </div>
    </div>
</div>
