<div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center py-4 mb-[10vh] w-full">
    <div class="flex flex-col gap-2 p-4 md:p-10 justify-center ">
        <h1 class="font-bold text-3xl md:text-4xl text-orange-500 text-center md:text-left">
            Contact Me
        </h1>
        <p class="font-base text-lg md:text-2xl text-gray-300 text-center md:text-left">
            I'm at your service! Feel free to reach out to me using the form
            below or using the provided contact information.
        </p>
    </div>
    <div class="flex flex-col gap-2 rounded-xl justify-center text-white p-4">
        <div class="flex flex-col">
            <h4 class="text-md font-base text-gray-300 py-1">Your Email</h4>
            <input
                class="rounded-md px-3 py-2  focus:outline-none focus:ring-2 
                focus:ring-orange-500 text-gray-900"
                type="email"
                name=""
                id=""
            />
        </div>
        <div class="flex flex-col">
            <h4 class="text-md font-base text-gray-300 py-1">Message</h4>
            <textarea class="rounded-md h-40 px-3 py-2  focus:outline-none focus:ring-2 
            focus:ring-orange-500 text-gray-900" name="message" style="height: 200px;"></textarea>
        </div>
    </div>
</div>