---
import LinkHeader from "../components/LinkHeader.astro";


interface Props {
    title: string;
}

const { title } = Astro.props;




---

<!doctype html>
<html lang="en" class="scroll-smooth focus:scroll-auto">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="logo.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
       
    
    </head>
    <body class="flex flex-col px-4  md:px-10 md:pt-4 lg:mx-24">
        <!-- Barra de navegación móvil -->
        
      <header
      class="hidden md:flex flex-col md:flex-row py-4 mx-auto md:px-10 justify-between items-center "
       
      >
       
      <div
          class="hidden md:flex justify-center items-center text-white py-2"
        >
          <picture class="h-14 w-14">
            <img src="logo.png" alt="" />
          </picture>
        </div>
        <div
          
          class="navmenu-toggle hidden md:flex flex-col md:flex-row  md:gap-2 align-center justify-center text-center"
        >
          <LinkHeader href="#home">Home</LinkHeader>
          <LinkHeader href="#about">About</LinkHeader>
          <LinkHeader href="#project">Projects</LinkHeader>
          <LinkHeader href="#contact">Contact Me</LinkHeader>
        </div>
      </header>

        <slot />
    </body>
</html>
<style is:global>
    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
    }
</style>
